<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Somnia</string>
	<key>uuid</key>
	<string>D16D19C0-8B4E-4D78-9B2F-9B6789ABCDEF</string>
    <key>fileTypes</key>
    <array>
        <string>somnia</string>
    </array>
</dict>
</plist>
